.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 50px;
  background-color: #091d3c;
  border-radius: 50px;
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.arrowIcon {
  width: 13px;
  margin-left: 5px;
  margin-top: 1px;
}
